/* Add your custom styles for assessment.html here */

body, html {
    height: 100%;
}

body {
    padding-top: 110px;
    margin: 0;
    color: #fff;
}

.navbar {
    padding: 10px;
}

.navbar-brand img {
    max-width: 40px;
    height: 40px;
    display: block;
}

.navbar-dark .navbar-toggler-icon {
    background-color: #fff !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff !important;
    font-size: 20px;
    margin-right: 30px;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #ccc !important;
}

@media (max-width: 767px) {
    .navbar-nav {
        margin-top: 10px !important;
    }
}

.custom-section {
    padding: 18px 0;
}

.footer {
    background-color: grey;
    padding: 10px 0;
    width: 100%;
    text-align: center;
}

.footer p {
    margin: 0;
}

/* Add your specific styles for the Assessment Page below this line */
/* Add your custom styles for the assessment page here */

body {
    padding-top: 70px; /* Adjusted padding for better alignment with navbar */
}

.assessment-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

video {
    max-width: 100%; /* Make the video responsive */
    margin: 10px;
    cursor: pointer;
}
