/* Custom CSS for result.html */

/* Style for container */
.container-fluid {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Style for results container */
#resultsContainer {
    background-color: #f8f9fa; /* Light gray background */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style for array values */
.array-values {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333; /* Dark text color */
    margin-bottom: 10px;
}

/* Style for buttons */
.btn {
    border-radius: 25px;
    font-size: 18px;
    padding: 10px 20px;
    margin: 0 10px;
}

/* Style for icons inside buttons */
.btn i {
    margin-right: 5px;
}

h4,h2 {
    color:black;
}